<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Train</title>
    {% load static %}
    {% load socialaccount %}
    <link rel="stylesheet" href="{% static 'login/style.css' %}">
    <script src="{% static 'login/app.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>Simple Train</h1>
        <div class="button-group">
            <!-- Google Sign-In Button -->
            <a href="{% provider_login_url 'google' %}?next=/" id="google-signin" class="btn">
                <img src="{% static 'login/images/google.png' %}" alt="Google Logo" class="icon">
                Sign in with Google
            </a>

            <!-- GitHub Sign-In Button -->
            <a href="{% provider_login_url 'github' %}?next=/" id="github-signin" class="btn github-btn">
                <img src="{% static 'login/images/gh.png' %}" alt="GitHub Logo" class="icon">
                Sign in with GitHub
            </a>
        </div>
    </div>
</body>
</html>
