body {
  background-color: #f0f0f0;
}
  
.container {
  margin-top: 50px;
}

#login-page, #register-page {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#google-signin {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s, box-shadow 0.2s;
}

#google-signin:hover {
	background-color: #f5f5f5;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.google-logo {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

#login-form button {
  margin-bottom: 15px;
}

#google-signin {
  margin-bottom: 15px;
}

#register-page p {
  margin-top: 15px;
}




